

.wrapper {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.main-content, .sidebar {
    padding: 20px;
}

.main-content {
    flex: 2;
}

.sidebar {
    flex: 1;
    background-color: #f1f1f1;
    border-radius: 8px;
    text-align: center;
}

.my-photo {
    border-radius: 50%;
    margin-bottom: 20px;
}

.sidebar-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #007bff;
}

.contacts-details, .skills-list, .soft-list {
    list-style: none;
}

.contacts-item, .skills-item, .soft-item {
    margin-bottom: 10px;
}

.contacts-link, .projekts-link {
    text-decoration: none;
    color: #007bff;
}

.projekts-link:hover, .contacts-link:hover {
    text-decoration: underline;
}

.mein-content-title, .company-position, .company-education {
    margin-bottom: 10px;
    color: #007bff;
}

.my-name {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.my-profession {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #555;
}

.my-summary {
    margin-bottom: 20px;
}

.projekts-container, .experiens-conteyner, .education-container {
    margin-bottom: 30px;
}

.company-container {
    margin-bottom: 20px;
}

.company-position {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.company-period, .company-duties-list {
    margin-bottom: 10px;
}

.company-duties-list {
    padding-left: 20px;
}

.company-duties-item {
    margin-bottom: 5px;
}

/* Sidebar */
.sidebar-content {
    margin-top: 20px;
    text-align: left;
}

.sidebar-content h3 {
    margin-bottom: 15px;
}

.contacts-item a, .skills-item, .soft-item {
    color: #333;
}

/* Specific styles for tech and soft skills */
.skills-list, .soft-list {
    padding-left: 0;
    list-style: none;
}

.skills-item::before, .soft-item::before {
    content: '•';
    color: #007bff;
    margin-right: 10px;
}