body {
    margin: 0 auto;
    background: #e5e5e5;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background: #fff;
    width: 100%;
    margin: auto;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 20px;
}

.main-section {
    margin-left: 20px;
}

.about-me,
.projects,
.experience,
.education {
    margin-bottom: 40px;
}

.name {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 8px;
}

.profession {
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #000;
    margin-bottom: 18px;
}

.summary {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.section-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 8px;
}

.project-list {
    padding-left: 19px;
}

.project-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    list-style: decimal;
}

.project-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #2979FF;
}

.project-tech {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

.job {
    margin-bottom: 8px;
}

.job-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-bottom: 12px;
}

.job-company {
    color: #6096ff;
}

.job-period {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 8px;
}

.job-duties {
    padding-left: 20px;
}

.duty {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    list-style: disc;
}

.education-item {
    margin-bottom: 40px;
}

.education-school {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.education-degree {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    margin-top: -12px;
    margin-bottom: 0;
}

.education-period {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 8px;
}

.sidebar {
    padding: 20px;
    background: #F3F4F6;
    width: 280px;
    text-align: left;
}

.photo {
    margin-bottom: 20px;
}



.sidebar-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-bottom: 12px;
}

.contact-list, .skill-list, .soft-skill-list, .language-list {
    list-style: none;
    padding: 0;
    margin: 0 0 40px;
}

.contact-item, .skill, .soft-skill, .language {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    margin-bottom: 8px;
}

.contact-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #2979FF;
}
